name: Marketplace Moderation

on:
  workflow_dispatch:
  schedule:
    - cron: "* * * * *"

jobs:
  moderate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        working-directory: python/modetation/
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run moderation script
        working-directory: python/modetation/
        env:
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          CONFIDENCE_THRESHOLD: ${{ secrets.CONFIDENCE_THRESHOLD }}
        run: |
          python moderation_script.py